@charset "utf-8";

#wrap {
    width: 1920px;
    margin: 0 auto;
}

nav {
    float: left;
}

header {
    height: 850px;
    background: lightblue;
}

nav {
    height: 50px;
    background: lightslategrey;
}

#section1 {
    background: lightcoral;
}

#section2 {
    background: lightcyan;
}

#section3 {
    background: lightgreen;
}

#section4 {
    background: lightsalmon;
}

footer {
    background: aquamarine;
}