@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Play&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url('typo.css');
@import url('nav.css');
@import url('layout.css');


/* 헤더 */
#header {
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: transparent;
    /* background: rgb(255, 165, 0); */
}

#header:hover {
    background: rgb(255, 165, 0);
    transition: .3s;
}

/* 로고 */
.logo {
    text-align: center;
    letter-spacing: .5rem;
    line-height: 1.4;
}

.logo b {
    font-size: 2.2rem;
    font-weight: normal;
    display: block;
}

.logo span {
    font-size: 1.6rem;
}

/* 풀 페이지 비디오 */
/* .vid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
} */

/* 섹션1 - 캐로셀 */
/* bx-wrapper를 초기화 */
.bx-wrapper {
    box-shadow: none;
    border: none;
    background: #fff;
}

#slideWrap {
    position: relative;
    /* padding: 0 3%; */
    height: 100vh;
}


#slideWrap .slider li {
    height: 100vh;
    padding: 150px 0;
    text-align: center;
    background: no-repeat 50% 50%;
}

#slideWrap .slider li div {
    position: relative;
    /* top: -50px; */
    font-size: 2rem;
    line-height: 1.8;
    opacity: 0;
}

#slideWrap .slider li div span {
    display: block;
    font-size: 3.5rem;
}

#slideWrap .slider li img {
    display: inline-block;
}

/* background */
#slideWrap .slider .bg1 {
    background-color: #FFA500;
    background-image: url(../images/pic_1.png);
}

#slideWrap .slider .bg2 {
    background-color: #A27D52;
    background-image: url(../images/pic_2.png);
}

#slideWrap .slider .bg3 {
    background-color: #FFECCC;
    background-image: url(../images/pic_3.png);
}

#slideWrap .slider .bg4 {
    background-color: #C3FCF1;
    background-image: url(../images/pic_4.png);
}

/* prev/next */
#slideWrap .btn {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100px;
    transform: translateY(-50%);
    z-index: 999;
}

#slideWrap .btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 6.8rem;
    color: #fff;
    transition: color .3s;
}

#slideWrap .btn a:hover {
    color: #333;
}

#slideWrap #prev {
    left: 10%;
}

#slideWrap #next {
    right: 10%;
}

/* pager */
#slideWrap .pager {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

#slideWrap .pager a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 15px;
    transition: .3s;
    cursor: pointer;
}

#slideWrap .pager a img {
    opacity: 0;
    transform: translate(-40%, -40%);
    /* transform: translate(0%, -20%); */
    transition: 0.5s;
    width: auto;
}

#slideWrap .pager a.active img {
    opacity: 1;
}

/* 섹션2 */
#section2 {
    position: relative;
    background: url(../images/zoo.jpg) no-repeat 50% 50%/cover fixed;
}

/* 고스트(ghost) 버튼 */
#section2 .btn {
    position: absolute;
    left: 600px;
    top: 570px;
    /* 투명 배경 */
    background: transparent;
    opacity: 0;
    transition: 3s;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px 18px;
}
#section2 .txt {
    position: absolute;
    width: 360px;
    transition: 2s;
    text-align: right;
}
#section2 .txt1 {
    left: -400px;
    top: 120px;
    height: 400px;
}
#section2 .txt2 {
    left: -400px;
    top: 300px;
    height: 400px;
}

.txt img:first-of-type {
    margin-bottom: 24px;
}

#product {
    position: absolute;
    left: 800px;
    top: 50%;
    transform: translateY(-50%);
    width: 882px;
    height: 554px;
}

#pic1,
#pic2,
#pic3 {
    position: absolute;
    transition: .3s;
}

#pic1 {
    width: 225px;
    height: 350px;
    left: 50px;
    top: 90px;
    transform: rotate(-18deg);
}

#pic2 {
    width: 250px;
    height: 350px;
    left: 278px;
    top: 0;
}

#pic3 {
    width: 325px;
    height: 445px;
    left: 490px;
    top: 65px;
    transform: rotate(18deg);
}

#product>div:hover {
    z-index: 1;
    transform: scale(1.2);
}

/* 섹션3 */
#section3 {
    position: relative;
}
#section3 .innerWrap {
    position: absolute;
    width: 1460px;
    height: 660px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* thumbnail image */
#section3 .thumb {
    position: absolute;
    left: 0;
    width: 360px;
}

#section3 .thumb li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-size: 1.8rem;
    cursor: pointer;
}
#section3 .thumb li img {
    width: 110px;
}

#section3 .thumb li.active {
    border-bottom: 2px solid #ffa500;
    font-size: 2.2rem;
    color: #ffa500;
}

#section3 .thumb span {
    margin-left: 20px;
}

/* 큰 이미지 갤러리 */
#section3 .big {
    position: absolute;
    left: 400px;
    top: 0;
    width: 580px;
    height: 660px;
    /* overflow: hidden; */
}

#section3 .big li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    /* display 속성은 transition 효과가 적용되지 않는다. */
    /* transition: .3s; */
}
#section3 .big li.active {
    display: block;
}

/* 텍스트 애니메이션 */
#section3 .txt {
    position: absolute;
    left: 980px;
    width: 410px;
    margin-left: 70px;
    /* text-align: left; */
}

#section3 .txt li {
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: .3s;
}

#section3 .txt li.active {
    top: 0;
    opacity: 1;
}

#section3 .txt h2 {
    margin-bottom: 50px;
    color: #005295;
    font-size: 2.9rem;
}

#section3 .txt h3 {
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: -3.5px;
}

#section3 .txt p {
    margin: 0 0 30px 100px;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 200;
    font-family: 'Arita-dotum-Regular', sans-serif;
}

#section3 .txt button {
    margin-left: 100px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    font-size: 1.8rem;
}