@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css');

@import url('reset.css');
@import url('typo.css');

/* header */
header {
    position: fixed;
    z-index: 9999;
    width:100%;
}
header ul {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 16px;
}
header a {
    padding: 4px 16px;
}
header a:hover {
    background: #ccc;
}
header i {
    margin-right: 8px;
}

/* section1 */
#home {
    position: relative;
    height: 930px;
    background: url(../images/myImg3.jpg) no-repeat 50% 70%/cover fixed;
}
/* 디지털 시계 */
#home .clock {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 8px 24px;
    background: #000;
    transform: translate(-50%, -50%);
}

/* section2~4 공통 */
.container {

    padding-bottom: 81px;
}
section h2 {
    margin-top:  81px;
    text-align: center;
}
section h2 + p {
    margin: 27px 0;
    text-align: center;
}
.parallax {
    position: relative;
    height: 410px;
    background: no-repeat 50% 50%/cover fixed;
}
.parallax b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* section2 */
.profile p:first-of-type {
    margin-bottom: 54px;
}

.profile div {
    text-align: center;
}
.photo img {
    margin-top: 54px;
}
/* .photo {
    background: url(../images/myImg7.jpg) no-repeat 50% 50%/cover;
} */
.photo b {
    margin-left: 8px;
}


/* 섹션2 - skill */
#about h3 {
    margin: 54px 0;
    text-align: center;
}
/* 프로그래스바 */
#skill .progress {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 16px;
    height: 30px;
}

#skill .progress div {
    width: 0%;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
}

/* 카운터 */

#counter ul {
    padding: 36px 0;
    align-items: center;
    /* height: 132px; */
    background: #616161;
    color: #fff;
    text-align: center;
}
#counter span {
    display: block;
}

/* section3 */
#portfolio .parallax {
    background-image: url(../images/myImg4.jpg);
}

/* 포트폴리오 */
#portfolio li {
    margin-bottom: 12px;
    overflow: hidden;
}

#portfolio li img {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#portfolio .moreBtn {
    margin-top: 64px; /* 인라인요소이면 안먹힘 */
    text-align: center;
}

#portfolio .moreBtn button{
    padding: 12px 24px;
    font-size: 1.5rem;
}
/* section4 */
#contact .parallax {
    background-image: url(../images/myImg1.jpg);
}

#map {
    height: 160px;
    margin-right: 30px;
    border-radius: 5px;
    overflow: hidden;
}
#contact address i {
    margin-right: 20px;
}
#contact address + p {
    margin: 16px 0;
}

/* 폼 */

#contact [name] {

    height: 44px;
    padding-left: 8px;
}
#contact [name="user_name"] {
    margin-right: 11px;
}
#contact [name $= "message"] {
    /* width: 600px; */
    margin: 16px 0;
}
#contact button {    
    width: 160px;
    height: 44px;
    background: #000;
    color: #fff;
}


/* footer */
footer {
    padding: 64px 0 81px;
    text-align: center;
    background: #555;
}
footer:hover {
    background: #000;
}
footer .topBtn a {
    background: #ccc;
    padding: 8px 16px;
}

footer .topBtn a:hover {
    background: #555;
}
footer .topBtn i {
    margin-right: 16px;
}
footer .sns {
    margin: 12px 0 16px;
}

