@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css');

@import url('reset.css');
@import url('typo.css');

/* header */
header {
    position: fixed;
    z-index: 9999;
    width:100%;
}
header ul {
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 16px;
}
header a {
    padding: 4px 16px;
}
header a:hover {
    background: #ccc;
}
header i {
    margin-right: 8px;
}

/* section1 */
#home {
    position: relative;
    height: 930px;
    background: url(../images/parallax1.png) no-repeat 50% 50%/cover fixed;
}
/* 요소를 부모 안에 정가운데 배치 */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 8px 24px;
    background: #000;
    transform: translate(-50%, -50%);
}

/* section2~4 공통 */
.container {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 81px;
}
section h2 {
    margin-top:  81px;
    text-align: center;
}
section h2 + p {
    margin: 27px 0;
    text-align: center;
}
.parallax {
    position: relative;
    height: 410px;
    background: no-repeat 50% 50%/cover fixed;
}
.parallax b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* section2 */
.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile p:first-of-type {
    flex: 100%;
    margin-bottom: 54px;
}

.profile div {
    flex: 0 0 48%;
    text-align: center;
}
.photo img {
    margin-top: 54px;
}
.photo b {
    margin-left: 8px;
}
.profile p:last-of-type {
    flex: 0 0 48%;
}
.photo {
    width: 425px;
    /* height: 290px; */
}
/* 섹션2 - skill */
#about h3 {
    margin: 54px 0;
    text-align: center;
}
.progress .lst > span {
    display: inline-block;

    margin: 16px;
}
.progress .lst div {
    background: #eee;
}
.progress .lst div span{
    text-align: center;
    display: block;
    height: 34px;
    background: #555;
}

.progress .lst:nth-of-type(1) div span{
    width: 90%;
}
.progress .lst:nth-of-type(2) div span{
    width: 85%;
}
.progress .lst:nth-of-type(3) div span{
    width: 75%;
}

#counter ul {
    align-items: center;
    height: 132px;
    background: #616161;
    color: #fff;
    text-align: center;
}
#counter span {
    display: block;
}

/* section3 */


#portfolio .parallax {
    background-image: url(../images/parallax2.jpg);
}

/* 
    max-width: 960px
    column count: 12
    1 column width: 69px
    gutter: 12px 
*/
#portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#portfolio li {
    width: 231px;
    height: 162px;
    margin-bottom: 12px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#portfolio .moreBtn {
    margin-top: 64px; /* 인라인요소이면 안먹힘 */
    text-align: center;
}

#portfolio .moreBtn button{
    padding: 12px 24px;
    font-size: 1.5rem;
}
/* section4 */
#contact .parallax {
    background-image: url(../images/parallax3.jpg);
}
#contact .container {
    display: flex;
}
#map {
    flex: 0 0 330px;
    height: 160px;
    margin-right: 30px;
    border-radius: 5px;
    overflow: hidden;
}
#contact address i {
    margin-right: 20px;
}
#contact address + p {
    margin: 16px 0;
}
#contact form {
    text-align: right;
}
#contact [name] {
    width: 292px;
    height: 44px;
    padding-left: 8px;
}
#contact [name="user_name"] {
    margin-right: 12px;
}
#contact [name $= "message"] {
    width: 600px;
    margin: 16px 0;
}
#contact button {    
    width: 160px;
    height: 44px;
    background: #000;
    color: #fff;
}


/* footer */
footer {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 64px 0 81px;
    text-align: center;
    background: #555;
}
footer:hover {
    background: #000;
}
footer .topBtn a {
    background: #ccc;
    padding: 8px 16px;
}

footer .topBtn a:hover {
    background: #555;
}
footer .topBtn i {
    margin-right: 16px;
}
footer .sns {
    margin: 12px 0 16px;
}

