@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
/* reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #fff;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}
button {
    background: transparent;
    border: none;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
/* typo */
html {
    font-size: 10px;
}
body {
    font: 1.5rem/1.8 verdana, sans-serif;
    color: #333;
}
.logo {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
}
h2, h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    color: #555;
    text-decoration: none;
}
button {
    color: #fff;
}
::placeholder {
    color: #ccc;
}
.anim_text1 {
    font-size: 3.6rem;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.7);
}

/* section2 */
#best h3 {
    color: #fff;
}
/* #best h3 {
    color: #fff;
} */

/* section3 */


/* footer */
footer {
    color: #777;
}


/* header */
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
}
nav, .main_search {
    display: none;
}
/* section1 #home */
#home {
    position: relative;
}
#home h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.anim_text1 {
    line-height: 1;
    padding: 8px 16px 8px;
    background: rgba(0, 0, 0, 0.75);
}
#home .anim_text2 {
    display: none;
}

/* section 2~4 common */
.section {
    padding: 81px 30px 0;
}
.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}
#region {
    margin-bottom: 16px;
}
.section li {
    margin-bottom: 16px;
}
/* section2 #best */
#best li {
    position: relative;
}
#best h3 {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 2px 12px;
    background: #000;
}
/* section3 #sale_news */
#sale_news > p {
    margin-bottom: 40px;
}
#sale_news div {
    position: relative;
}
.sale1, .sale2,.sale3,.sale4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#sale_news li p:first-of-type {
    margin: 8px 0;
}
#sale_news a {
    display:block;
    text-align: center;
    background: #ccc;
    padding: 6px 0;
    margin-top: 16px;
}
/* section4 #contact */
#contact input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
}
#contact button {
    padding: 12px 16px;
    margin: 20px 0 45px;
    background: #000;
}
/* footer */
footer {
    background: #000;
    text-align: center;
    padding: 30px 0;
}
footer span:nth-of-type(1), footer span:nth-of-type(3) {
    display: none;
}


/* 600 이상 */
@media (min-width: 600px) {

}



/* 992 이상 */
@media (min-width: 992px) {

}
