@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
@import url(reset.css);
@import url(typo.css);
/* @font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */

/* header */
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
}
nav, .main_search {
    display: none;
}
/* section1 #home */
#home {
    position: relative;
}
#home h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.anim_text1 {
    line-height: 1;
    padding: 8px 16px 8px;
    background: rgba(0, 0, 0, 0.75);
}
#home .anim_text2 {
    display: none;
}

/* section 2~4 common */
.section {
    padding: 81px 30px 0;
}
.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}
#region {
    margin-bottom: 16px;
}
.section li {
    margin-bottom: 16px;
}
/* section2 #best */
#best li {
    position: relative;
}
#best h3 {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 2px 12px;
    background: #000;
}
/* section3 #sale_news */
#sale_news > p {
    margin-bottom: 40px;
}
#sale_news div {
    position: relative;
}
.sale1, .sale2,.sale3,.sale4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#sale_news li p:first-of-type {
    margin: 8px 0;
}
#sale_news a {
    display:block;
    text-align: center;
    background: #ccc;
    padding: 6px 0;
    margin-top: 16px;
}
/* section4 #contact */
#contact input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
}
#contact button {
    padding: 12px 16px;
    margin: 20px 0 45px;
    background: #000;
}
/* footer */
footer {
    background: #000;
    text-align: center;
    padding: 30px 0;
}
footer span:nth-of-type(1), footer span:nth-of-type(3) {
    display: none;
}


/* 992 이상 */
@media (min-width: 992px) {

}
