@charset "utf-8";

* {
    box-sizing: border-box;
}
div h2, div h3 {margin:0;}
.wrap {
    width: 400px;
    text-align: center;
}
.wrap * {
    outline:1px solid;
}
header, #header {
    line-height:50px;
    background: #ccc;
}
nav, #nav {
    float:left;
    width:30%;
    line-height:150px;
    background: orange;
}
.container {
    overflow:hidden;
}
section, #content {
    float:left;
    width:70%;
    height:150px;
    background: #ddd;
}
.wrap section h2, .wrap #content h2 {
    outline:none;
    margin:10px 0;
}
article, .article {
    background: cyan;
    margin:0 20px;
}
footer, #footer {
    line-height: 50px;
    background: #999;
}

