@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

/* body에 color를 지정할 경우 a태그와button태그는 상속 제외 */
body {
    /* font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem; */
    font: 1.5rem 'Noto Sans KR', sans-serif;
    color: #333;
}

/* a태그와 button태그 글자 색은 body태그의 글자 색을 상속 받지 않는다. */
a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: top;
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
header ul {
    height: 54px;
    padding: 0 32px;
    /* background: #eeeeee; */
    display: flex;
    justify-content: end;
    align-items: center;
}
header li {
    margin: 0 16px;
}
header a {
    padding: 8px 16px;
}
header a:hover {
    background: #c0c0c0;

}
/* section1 */
#home {
    position: relative;
    background: url(../images/parallax1.jpg) no-repeat 50% 50%/ cover fixed;
    height: 930px;
}
/* 요소를 부모 안에 정가운데 배치 */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    padding: 8px 32px;
}
.logo a {
    color: #fff;
}

/* section2 */

.container_about1, .container_about2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.container_about1 h2 {
    margin: 10px 0;
}
.container_about1 p {
    margin: 15px 0;
}
.container_about2 p {
    margin: 15px 0;
}
h3 {
    border: 1px solid black;
    text-align: center;
    margin: 50px 0;
}
.container_img {
    display: flex;
    flex-direction: column;
}
.container_img b {
    margin: 15px 0;
}
.container_img i {
    margin-right: 10px;
}
.container_about2 {
    flex-direction: row ;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
/* section3 */
.portfolio_img {
    position: relative;
    background: url(../images/parallax2.jpg) no-repeat 50% 50%/ cover fixed;
    height: 500px;
}
#portfolio b {
    color: #000;
    font-size: 25px;
    letter-spacing: 1.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#portfolio ul {
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
#portfolio li {
    width: 24%;
    height: 200px;
}

/* section4 */
button {
    height: 90px;
}
form {
    background: red;
    display: flex;
}
form input:nth-of-type(3) {
    height: 50px;
    width: 50%;
}
form input:not(:nth-of-type(3)) {
    width: 25%;
    height: 25px;
}
/* footer */
footer {
    color: #fff;
    background: #000;
    border: 1px solid black;
    height: 72px;
    padding: 16px;
    text-align: center;
}
footer a {
    color: #fff;
    margin: 0 16px ;
}