@charset "utf-8";
@import url('reset.css');
@import url('typo.css');

/* header */
header {
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 54px;
    padding: 0 32px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}
.logo {
    float: left;
}
nav {
    float: right;
}
nav li {
    display: inline-block;
}

/* section common */
section {
    width: 1496px;
    margin: 0 auto;
}
.section {
    padding-top: 81px;
}
.section h2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
.section h2 + p {
    margin-bottom: 32px;
}

/* section1 */
#main_img {
    position: relative;
}
#main_img h2 {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#main_img h2 b {
    margin-right: 16px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.725);
    color: #fff;
}
/* section2, 3 common */
#menu li, #event li {
    float:left;
    width: 362px;
}
#menu ul::after, #event ul::after {
    content:'';
    clear:both;
    display: block;
}
#menu li:not(:nth-of-type(4n)), #event li:not(:nth-of-type(4n)) {
    margin-right: 16px;
}

/* section2 */
#menu h2 {
    margin-bottom: 48px;
}

/* section3 */
#event li h3 {
    margin: 16px 0 8px;
}
#event li p {
    margin: 8px 0;
}
#event li a {
    display: block;
    background: #ccc;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px;
}

/* section4 */
#news input {
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}
#news button {
    padding: 12px 16px;
    margin: 16px 0 54px;
    border: none;
    background: #000;
    color: #fff;
}
.map {
    height: 830px;
}

/* footer */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding:32px 0;
}