@charset "utf-8";
html {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #333;
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    color: #333;
    text-decoration: none;
}