@charset "utf-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

header,
#contents,
footer {
    display: flex;
}
li {
    list-style: none;
}
/* 공통 */
#wrap {
    /* 가로 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}


/* 헤더 */

/* 로고 */
.logo {
    width: 200px;
    height: 100px;
    background: lightpink;
}

/* 내비게이션 */
nav {
    width: 1000px;
    height: 100px;
    background: lightsalmon;
}

/* 슬라이드 */
#slide {
    overflow: hidden;
    height: 300px;
    background: lightcoral;
}

#slide ul {
    position: relative;
    left: 0;
    top: 0;
    width: 400%;
    display: flex;
    animation: slide 9s infinite;
}
#slide li {
    width: 100%;
}
@keyframes slide {
    0% {left: 0;}
    5% {left: -100%;}
    33% {left: -100%;}
    38% {left: -200%;}
    66% {left: -200%;}
    71% {left: -300%;}
    99.99% {left: -300%;}
    100% {left: 0;}
}

/* 메인 컨텐츠 */
#contents div {
    width: 400px;
    height: 200px;
}

.tabs {
    background: gold;
}

.banner {
    background: lavender;
}

.shortcut {
    background: greenyellow;
}


/* 푸터 */
.b_logo {
    width: 200px;
    height: 100px;
    background: firebrick;
}

.addr {
    width: 800px;
    height: 100px;
    background: fuchsia;
}

.sns {
    width: 200px;
    height: 100px;
    background: aquamarine;
}